@model GlobalGamesCet49.Models.InscricaoViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscricao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartaoCidadao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartaoCidadao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DNasc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DNasc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
